/* width */
::-webkit-scrollbar {
    width: 10px;
    }
    
/* Track */
::-webkit-scrollbar-track {
    padding-left:10px;
    border-radius: 0px;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background: #40414F; 
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999DAB; 
}